/* ApplicationList.css */
.application-list {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
}

.application-list.minimized {
  flex: 5;
  overflow: scroll;
}

.application-list.minimized .application-grid {
  display: flex;
  flex-direction: column;
}

.application-list.minimized .application-grid .application-icon {
  display: inline-grid;
  padding: 0.5rem;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  border: 1px solid rgb(240, 154, 154);
  border-radius: 5px;
}

.application-list.fullscreen {
  flex: 49;
  width: 100%;
}

.application-list.fullscreen .application-grid {
  display: grid;
  /* width: 100%; */
  /* height: 100%; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-template: auto auto auto / 19% 19% 19% 19% 19%; */

  grid-template-columns: repeat(4, 1fr);  /* 4 columns */
  grid-template-rows: repeat(3, 1fr);     /* 3 rows */
  gap: 10px;  /* gap between items */
  width: 100%;  /* container width */
  height: 100%; /* container height */
}

.application-list.fullscreen .application-grid .application-icon {
  display: inline-grid;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 1px dashed #dbaec2;
  border-radius: 5px;
}

@media (max-aspect-ratio: 1/1) {
  .application-list.fullscreen .application-grid .application-icon {
    width: calc((100vw - 25px) / 4);
    height: calc((100vw - 25px) / 4);
  }
}

@media (min-aspect-ratio: 1/1) {
  .application-list.fullscreen .application-grid .application-icon {
    width: calc((80vh - 20px) / 3);
    height: calc((80vh - 20px) / 3);
  }
}

.application-list .application-grid .application-icon:hover {
  background-color: #f9e4e4;
  border: 1.5px ridge #dbaec2;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pagination button {
  background-color: #dbaec2;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}