/* index.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #a4b5e9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  height: calc(100vh);
}